<%- include header %>
<div class="row">
    <ul>
        <div class="card">
            <div class="card-body">
                <h1>Baby Sitters</h1>
                <ul> 
                    <li>image of babysitter</li>
                    <li>Name</li>
                    <li>age</li>
                    <li>Rates</li>

                </ul>
            </div>
        </div>
    </ul>

    <ul>
            <div class="card">
                <div class="card-body">
                    <ul> 
                        
                        <li>image of babysitter</li>
                        <li>Name</li>
                        <li>age</li>
                        <li>Rates</li>
    
                    </ul>
                </div>
            </div>
        </ul>
    </div>
 <%- include footer %>