<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>City Sitter</title>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> --}}
   {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}

   <!-- CSS STYLE SHEET -->
   <link rel="stylesheet" href="assets/css/about.css">
   <!-- ICON -->
   <link rel="shortcut icon" type="img/png" href="assets/images/baby.png">
 </head>
 <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12 header">
       <img src="assets/images/baby.png" id="baby" alt="Baby" height="60px" width="100px">

       <div class="header-title text-center">
         <p>City Sitters!</p>
       </div>

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item active nav-buttons">
             <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item nav-buttons">
             <a class="nav-link" href="/about">About Us</a>
           </li>
           <li class="nav-item nav-buttons">
             <a class="nav-link" href="*">Dashboard</a>
           </li>
           <li class="nav-item nav-buttons">
             <a class="nav-link" href="/signin">Log In</a>
           </li>
           <li class="nav-item nav-buttons">
             <a class="nav-link" href="/signup">Sign Up</a>
           </li>
         </ul>
       </div>
   </nav>
 <!-- ============================================================ -->
<!-- Introduction Row -->
     {{!-- <div class="jumbotron"> --}}
    <div class="container">
     
     {{!-- <p>City Sitters is a site aimed to connect parents with quality childcare </p> --}}
     <!-- Team Members Row -->
     <h1 class="my-4">The Team
       {{!-- <small>It's A Pleasure To Meet You !</small> --}}
     </h1>
     <div class="row">
       <div class="col-lg-12">
         {{!-- <h2 class="my-4">Our Team</h2> --}}
       </div>
       <div class="col-lg-6 col-sm-6 text-center mb-4">
         <img class="rounded-circle img-fluid d-block mx-auto" src="./assets/images/tjProfile2.jpg">
         <h3>TJ

         </h3>
         <p>HTML/CSS/Sequelize</p>
       </div>
       <div class="col-lg-6 col-sm-6 text-center mb-4">
         <img class="rounded-circle img-fluid d-block mx-auto" src="./assets/images/colinProfile.jpg">
         <h3>Colin

         </h3>
         <p>HTML/CSS/HandleBars</p>
       </div>
       <div class="col-lg-6 col-sm-6 text-center mb-4">
         <img class="rounded-circle img-fluid d-block mx-auto" src="./assets/images/krisProfile.jpg">
         <h3>Kris

         </h3>
         <p>HTML/CSS/Routing</p>
       </div>
       <div class="col-lg-6 col-sm-6 text-center mb-4">
         <img class="rounded-circle img-fluid d-block mx-auto" src="./assets/images/steveProfile2.jpg" style="height:150px">
         <h3>Steven

         </h3>
         <p>HTML/CSS/Sequelize</p>
       </div>
       </div>
   </div>







   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>
</html>