body {
    /* background-image: url("../images/sitter.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   */
    background: url("http://s.marketwatch.com/public/resources/MWimages/MW-BN041_nannyb_MG_20131011163742.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* font-family: 'Merienda One', cursive; */
    position: fixed;
    width: 100%;
    
}
nav {
    font-family: 'Merienda One', cursive;
    font-size: 24px;
}

.box {
    padding: 30px;
    background: rgb(255,255,255, .7);
    margin-top: 100px;
}
.header  {
    width: 100%;
    height: 70px;
    background: #a0a0a0;
    border-bottom: #0053b3 1px solid;
    opacity: .7;
  }
  .nav-buttons {
    padding: 0px 15px;
    font-size: 24px;
  }

  .header-title {
    text-align: center;
    font-size: 160%;
    margin-top: 15px;
}
  /* ======================== */

  @media screen and (max-width: 1150px) {
    .header-title {
      font-size: 20px;
    }
  }

