body {
    color: black;
}
.box {
    background: rgb(255,255,255, .7);
    /* opacity: 0.7; */
    padding: 20px;
}
.jumbotron {
    background: black;
    background-image: url("../images/nanny.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
label {
    font-size: 20px;
}
/* #head-color {
    background: grey;
    color: red;
} */
#duration {
    /* padding: 40px; */
    margin: 10px;
    height: 40px;
    width: 170px;
    text-align: center;

}
#description {
    height: 100px;
    width: 400px;
    margin-top: 20px;
}

#total-kids {
    width: 100%;
}